/* Reset básico para eliminar los márgenes y rellenos por defecto del navegador */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Asegura que los elementos se dimensionen de manera predecible */
*,
*::before,
*::after {
  box-sizing: border-box;
}
