[build]
  command = """
    npm install --prefix client &&
    npm run build --prefix client
  """
  publish = "client/dist"
  functions = "server/netlify/functions"

[redirects]
  [[redirects]]
    from = "/api/*"
    to = "/.netlify/functions/server/:splat"
    status = 200
    force = true

  [[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200
